#workspaces {
  background-color: alpha(@surface, 0.8);
  padding: 8px;
  border-radius: 999px;
  margin: 0 4px;
}

#workspaces button {
  transition: all 250ms ease-in-out;
  padding: 0 4px;
  margin: 0 2px;
  background: alpha(@surface_variant, 0.8);
  border-radius: 999px;
}

#workspaces button label {
  color: @on_surface_variant;
}

#workspaces button.active {
  min-width: 48px;
  background: alpha(@primary, 0.8);
  border-radius: 8px;
}

#workspaces button.active label {
  color: @on_primary;
}

#workspaces button:hover {
  background: alpha(@tertiary, 0.8);
}

#workspaces button:hover label {
  color: @on_tertiary;
}

#battery,
#network,
#bluetooth,
#clock,
#pulseaudio {
  margin: 0 4px;
  background-color: alpha(@surface, 0.8);
  color: @on_surface_variant;
  padding: 8px 16px;
  border-radius: 999px;
}

#mpris {
  margin: 0 4px;
  padding: 8px 16px;
  border-radius: 999px;
  background-color: alpha(@secondary_fixed_dim, 0.8);
  color: @on_secondary_fixed;
}

#clock {
  font-weight: 600;
}

#battery.critical {
  background-color: @error;
  color: @on_error;
}

#submap {
  margin: 0 4px;
  background-color: alpha(@tertiary_container, 0.8);
  color: @on_tertiary_container;
  padding: 8px 16px;
  border-radius: 999px;
}

tooltip {
  background: alpha(@surface_variant, 0.7);
  color: @on_surface_variant;
  border: @outline_variant;
}
