.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@base00, 0.8);
  padding: 8px;
  border-radius: 999px;
}

.modules-right label {
  /* color: @base05; */
}

#workspaces {
  margin-left: 6px;
}

#workspaces button {
  transition: all 250ms ease-in-out;
  padding: 0 4px;
  margin: 0 2px;
  background: alpha(@base06, 0.8);
  border-radius: 999px;
}

#workspaces button.active {
  min-width: 48px;
  background: alpha(@base0E, 0.8);
}

#workspaces button label {
  color: @base00;
}

#battery,
#network,
#bluetooth,
#pulseaudio {
  margin: 0 16px;
}

#clock {
  font-weight: 700;
  padding: 0 8px;
}
