#workspaces {
  background-color: alpha(@base00, 0.8);
  padding: 8px;
  border-radius: 999px;
  margin: 0 4px;
}

#workspaces button {
  transition: all 250ms ease-in-out;
  padding: 0 4px;
  margin: 0 2px;
  background: alpha(@base06, 0.8);
  border-radius: 999px;
}

#workspaces button.active {
  min-width: 48px;
  background: alpha(@base0E, 0.8);
  border-radius: 8px;
}

#workspaces button:hover {
  background: alpha(@base0D, 0.8);
}

#workspaces button label {
  color: @base00;
}

#battery,
#network,
#bluetooth,
#clock,
#mpris,
#submap,
#pulseaudio {
  margin: 0 4px;
  background-color: alpha(@base00, 0.8);
  padding: 8px 16px;
  border-radius: 999px;
}

#battery {
  color: @base0B;
}

#clock {
  font-weight: 700;
}

#submap {
  color: @base0C;
}

#mpris {
  color: @base0B;
}

#network {
  color: @base0E;
}

#pulseaudio {
  color: @base09;
}

tooltip {
  background: alpha(@base01, 0.7);
  border: @base01;
}
