#workspaces {
  background-color: alpha(@surface, 0.8);
  padding: 8px;
  border-radius: 999px;
  margin: 0 4px;
}

#workspaces button {
  transition: all 250ms ease-in-out;
  padding: 0 4px;
  margin: 0 2px;
  background: alpha(@secondary, 0.8);
  border-radius: 999px;
}

#workspaces button label {
  color: @on_secondary;
}

#workspaces button.active {
  min-width: 48px;
  background: alpha(@primary, 0.8);
  border-radius: 8px;
}

#workspaces button.active label {
  color: @on_primary;
}

#workspaces button:hover {
  background: alpha(@tertiary, 0.8);
}

#workspaces button:hover label {
  color: @on_tertiary;
}

#battery,
#network,
#bluetooth,
#clock,
#mpris,
#submap,
#pulseaudio {
  margin: 0 4px;
  background-color: alpha(@surface_container, 0.8);
  color: @on_surface_container;
  padding: 8px 16px;
  border-radius: 999px;
}

#clock {
  font-weight: 700;
}

#submap {
  color: @error;
}

#mpris,
#battery,
#pulseaudio,
#network {
  color: @tertiary;
}

tooltip {
  background: alpha(@surface_variant, 0.7);
  color: @on_surface_variant;
  border: @outline_variant;
}
